* {box-sizing: border-box; text-align: center;}

body, html {margin: 0; text-transform: uppercase; font-family: 'IBM Plex Mono', monospace; background: #0f101b; width: 100%}

main {display: flex; flex-wrap: wrap; margin: 20px 20px 0 20px}

img {width: 200px; filter: grayscale(0.4); border-radius: 10px}

a {display: -webkit-flex; flex: 1 0 auto; margin-bottom: 20px; text-decoration: none; color: white; display: block; -webkit-tap-highlight-color: transparent; font-size: 13px}

a:hover {color: #797979}

a:hover img {opacity: 0.8}
			
@media only screen and (max-width: 1025px) {img {width: 300px;} a {font-size: 1.8em;}}
@media only screen and (max-width: 770px) {img {width: 220px;} a {font-size: 1.4em;}}
@media only screen and (max-width: 700px) {img {width: 150px;} a {font-size: 0.8em;}}
@media only screen and (max-width: 600px) {img {width: 175px;} a {font-size: 1em;}}
@media only screen and (max-width: 400px) {img {width: 130px;} a {font-size: 0.8em;}}